#navbar {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navbar-custom {
	background-color: #F7F7F7;
	padding: 0;
	border-bottom: 1px solid black;
}

.navbar-toggler {
	background-color: red;
}

.navbar-toggler-icon {
	border: 1px solid black;
}

.nav-item {
	margin-right: 2vw;
}

.nav-item:hover, .nav-item:active {
	/*border-bottom: 3px solid #3238DB;*/
}

.nav-link {
	color: #F96E6E;
	font-weight: 700;
}

.nav-link:hover, .nav-link:active {
	color: #3238DB;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0;
		padding-top: 1vw;
		padding-bottom: 1vw;
		position: sticky;
		top: 0;
	}
}
