.banner { 
	background: url(../img/banner2.jpg) no-repeat fixed center;
	background-color: #2741AF;
	background-size: cover;
	background-blend-mode: multiply; 
}

.error-msg { margin: 8em auto; }