.banner { 
	background: url(../img/banner_anima.jpg) no-repeat fixed center;
	background-color: #2741AF;
	background-blend-mode: multiply; 
}

/* dropdown item choice*/
.ddic {
	background-color: white;
	padding: 5px 15px;
}

/* dropdown toggle button*/
.ddtb {
	border-radius: 0;
	padding: 5px 15px;
}

.ddtb, .ddtb:hover, .ddtb:visited, .ddtb:active, .ddtb:focus {
	background-color: transparent !important;
	color: white;
	border: 1px solid white;
	/*outline: 0px !important;*/
}

.dropdown-menu.show { padding: 0; }

.head { line-height: 0.75em; }
