.bebas { font-family: 'Bebas Neue', cursive; }
.mont { font-family: 'Montserrat', sans-serif; font-weight: 500; }
.lora { font-family: 'Lora', serif; }

.blue { color: #2741AF; }
.yellow { color: #F1B850; }
.white { color: #FFFFFF; }
.black { color: #000000; }

.blue-bg { background-color: #2741AF; }
.yellow-bg { background-color: #F1B850; }
.white-bg { background-color: #FFFFFF; }
.black-bg { background-color: #000000; }

.head { font-size: 64px; line-height: 77px; }
.title { font-size: 36px; margin-bottom: 25px;}
.subtitle { font-size: 18px;}
.title-text { font-size: 16px; }
.title-subtext { font-size: 18px; }

.margin-0 { margin: 0; }
.max-width { width: 100%; }

a, a:hover, a:focus { text-decoration: none; color: inherit;}

@media(min-width: 320px) {
	.banner { background-size: cover; }
	.container { padding: 0 20px 0 20px; }
}

@media(min-width: 992px) {
	.banner { height: 400px; }
	.container { padding: 0 100px 0 100px; }
}
