.navbar, .navbar-toggler { padding: 0 !important; }

.navbar-toggler:focus, .navbar-toggler:active { outline: none; }

.nav-item:hover, .nav-item:focus { color: #F1B850; }

.dropdown-menu { background-color: transparent; }

/* dropdown toggle */
.ddt { padding-top: 0; }

@media(min-width: 320px) {
	.head { margin-top: 30px; }
	.ddin:hover { 
		background-color: transparent; 
		color: #F1B850; 
	}
}

@media(min-width: 992px) {
	.navbar { float: right;}
	.nav-item {
		margin-left: 34px;
		padding: 0;
		/*padding-bottom: 3px;*/
	}
	.nav-item:hover {
		color: #F1B850;
		border-bottom: 2px solid #F1B850;
	}
	.head { margin-top: 80px; }
}